BOT_TELEGRAM_TOKEN="" # Create a bot via the Bot Father: https://www.telegram.me/BotFather
TEST_BOT_TELEGRAM_TOKEN="" # Create a test bot via the Bot Father: https://www.telegram.me/BotFather
BOT_NOSTR_SK="" # Create any number of ways (snort, damus, noscli, etc.); hex seckey
OPENNODE_API_KEY="" # Create an Open node account and generate an API key: https://help.opennode.com/en/articles/3181421-how-do-i-generate-api-keys
OPENAI_API_KEY="" # Create an account with Open AI and generate an API key: https://platform.openai.com/
PAYMENT_PROCESSOR_TOKEN="" # Must have a Strike for Business account: https://strike.me/developer/; feel free to use whatever payment service you like
PAYMENT_PROCESSOR_KIND=""
PINECONE_API_KEY=""
LNBITS_BASE_URL=""