# desktop services store
.DS_Store

# compiled python 
__pycache__/

# cached python bytecode folders
.vscode/
.venv/
dev/
ignore/

# env files
.env.local
.env

# logs and tarballs
*.log
*.gz

# chat data
src/data/chat/group/content/*
src/data/chat/group/config/*
src/data/chat/private/content/*
src/data/chat/private/config/*
src/data/backup/chats/*
src/data/raw_messages.jsonl
