[Unit]
Description=ATL BitLab Bot
Documentation=https://github.com/ATLBitLab/abbot

After=network-online.target
Wants=network-online.target

[Service]
Environment=HOME=/home/abbot

WorkingDir=/home/abbot/abbot
ExecStart=/home/abbot/abbot/start.sh

Restart=always
RestartSec=10

StandardOutput=/home/abbot/abbot/src/data/runtime.log
StandardError=/home/abbot/abbot/src/data/debug.log

SyslogIdentifier=abbot

User=abbot
Group=abbot

RuntimeDirectory=abbot
RuntimeDirectoryMode=0710

[Install]
WantedBy=multi-user.target
