[Unit]
Description=ATL BitLab Bot
Documentation=https://github.com/ATLBitLab/telegram-gpt-bot

After=network-online.target
Wants=network-online.target

[Service]
Environment=HOME=/home/bryan

WorkingDir=/home/bryan/telegram-gpt-bot
ExecStart=/home/bryan/telegram-gpt-bot/start.sh

Restart=always
RestartSec=10

StandardOutput=/home/bryan/telegram-gpt-bot/src/data/runtime.log
StandardError=/home/bryan/telegram-gpt-bot/src/data/debug.log

SyslogIdentifier=atlbitlab-bot

User=bryan
Group=bryan

RuntimeDirectory=bitcoind
RuntimeDirectoryMode=0710

[Install]
WantedBy=multi-user.target
